$wide2k: 1921px;
$wide: 1600px;
$desktop: 1280px;
$tablet: 1024px;
$tablet_vert: 768px;
$tel_min: 680px;
$min: 480px;

@mixin media($media) {
    @if ($media == swide) {
        @media only screen and (min-width: $wide2k) {
            @content;
        }
    }
    @if ($media == stablet) {
        @media only screen and (min-width: $tablet + 1) {
            @content;
        }
    }
    @if ($media == wide) {
        @media only screen and (max-width: $wide2k - 1) {
            @content;
        }
    }
    @if ($media == only_wide) {
        @media only screen and (max-width: $wide2k - 1) and (min-width: $tablet + 1) {
            @content;
        }
    }
    @if ($media == desktop) {
        @media only screen and (max-width: $wide - 1) {
            @content;
        }
    }
    @if ($media == tablet) {
        @media only screen and (max-width: $desktop - 1) {
            @content;
        }
    }
    @if ($media == only_tablet) {
        @media only screen and (max-width: $desktop - 1) and (min-width: $tablet_vert + 1) {
            @content;
        }
    }
    @if ($media == tablet_vert) {
        @media only screen and (max-width: $tablet - 1) {
            @content;
        }
    }
    @if ($media == tel) {
        @media only screen and (max-width: $tablet_vert - 1) {
            @content;
        }
    }
    @if ($media == more_than_tel) {
        @media only screen and (min-width: $tablet_vert) {
            @content;
        }
    }
    @if ($media == more_than_tablet_vert) {
        @media only screen and (min-width: $tablet_vert + 1) {
            @content;
        }
    }
    @if ($media == more_than_tablet) {
        @media only screen and (min-width: $tablet + 1) {
            @content;
        }
    }
    @if ($media == tel_min) {
        @media only screen and (max-width: $tel_min - 1) {
            @content;
        }
    }
    @if ($media == min) {
        @media only screen and (max-width: $min - 1) {
            @content;
        }
    }
}