@font-face {
  font-family: 'Bebas Neue';
  src: url(/src/font/bebasneueregular.woff2); }
@font-face {
  font-family: 'Opinion pro';
  src: url(/src/font/OpinionProRegular.woff2); }
body {
  font-family: 'Opinion pro', serif;
  margin: 0; }

main {
  min-height: calc(100vh - 413px); }
  @media only screen and (max-width: 767px) {
    main {
      min-height: calc(100vh - 296px); } }

h1, h2, h3, h4, menu {
  font-family: 'Bebas Neue', serif; }

.container {
  margin: 0 auto;
  max-width: 1387px; }
  @media only screen and (max-width: 1599px) {
    .container {
      padding-right: 15px;
      padding-left: 15px; } }
  @media only screen and (max-width: 1279px) {
    .container {
      padding-right: 25px;
      padding-left: 25px; } }
  @media only screen and (max-width: 1023px) {
    .container {
      padding-right: 15px;
      padding-left: 15px; } }
  @media only screen and (max-width: 767px) {
    .container {
      padding-right: 10px;
      padding-left: 10px; } }

/* header */
.header .header__top {
  height: 70px; }
  @media only screen and (max-width: 1023px) {
    .header .header__top {
      height: 40px;
      padding-bottom: 7px; } }
  @media only screen and (max-width: 767px) {
    .header .header__top {
      height: 67px;
      padding-top: 10px; } }
  .header .header__top .container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%; }
    @media only screen and (max-width: 767px) {
      .header .header__top .container {
        flex-direction: column;
        height: auto; } }
    .header .header__top .container .header__address, .header .header__top .container .header__tel {
      font-size: 16px;
      line-height: 22px;
      color: #000000;
      position: relative;
      padding-bottom: 7px; }
      @media only screen and (max-width: 1279px) {
        .header .header__top .container .header__address, .header .header__top .container .header__tel {
          font-size: 14px;
          line-height: 18px; } }
      .header .header__top .container .header__address:before, .header .header__top .container .header__tel:before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='22' viewBox='0 0 18 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.7807 8.60236C17.6403 7.14127 17.1239 5.74144 16.2819 4.53917C15.4398 3.33691 14.3008 2.37319 12.9757 1.74185C11.6506 1.11051 10.1846 0.833075 8.7204 0.936558C7.25623 1.04004 5.84381 1.52092 4.62068 2.33235C3.56988 3.035 2.68774 3.96165 2.03763 5.04575C1.38752 6.12984 0.985577 7.34446 0.860682 8.60236C0.738164 9.85201 0.895356 11.1133 1.32085 12.2946C1.74635 13.476 2.42948 14.5478 3.32068 15.4324L8.62068 20.7424C8.71365 20.8361 8.82425 20.9105 8.94611 20.9612C9.06796 21.012 9.19867 21.0382 9.33068 21.0382C9.46269 21.0382 9.5934 21.012 9.71526 20.9612C9.83712 20.9105 9.94772 20.8361 10.0407 20.7424L15.3207 15.4324C16.2119 14.5478 16.895 13.476 17.3205 12.2946C17.746 11.1133 17.9032 9.85201 17.7807 8.60236ZM13.9207 14.0224L9.32068 18.6224L4.72068 14.0224C4.04277 13.3444 3.52348 12.5247 3.20015 11.6221C2.87682 10.7195 2.75747 9.75655 2.85068 8.80235C2.9445 7.83346 3.25245 6.89751 3.75225 6.0622C4.25206 5.22688 4.93124 4.51306 5.74068 3.97235C6.80163 3.26759 8.04699 2.89165 9.32068 2.89165C10.5944 2.89165 11.8397 3.26759 12.9007 3.97235C13.7077 4.51097 14.3854 5.22164 14.885 6.05329C15.3847 6.88495 15.694 7.81696 15.7907 8.78236C15.8869 9.73978 15.7691 10.7066 15.4457 11.6129C15.1222 12.5192 14.6013 13.3422 13.9207 14.0224ZM9.32068 4.97235C8.43067 4.97235 7.56064 5.23628 6.82062 5.73074C6.0806 6.22521 5.50382 6.92801 5.16322 7.75028C4.82263 8.57255 4.73351 9.47735 4.90715 10.3503C5.08078 11.2232 5.50937 12.025 6.1387 12.6543C6.76804 13.2837 7.56986 13.7123 8.44278 13.8859C9.31569 14.0595 10.2205 13.9704 11.0428 13.6298C11.865 13.2892 12.5678 12.7124 13.0623 11.9724C13.5568 11.2324 13.8207 10.3624 13.8207 9.47235C13.818 8.27969 13.3431 7.13663 12.4997 6.29329C11.6564 5.44995 10.5133 4.975 9.32068 4.97235ZM9.32068 11.9724C8.82623 11.9724 8.34288 11.8257 7.93176 11.551C7.52063 11.2763 7.2002 10.8859 7.01098 10.4291C6.82176 9.97225 6.77226 9.46958 6.86872 8.98463C6.96518 8.49968 7.20328 8.05422 7.55292 7.70459C7.90255 7.35496 8.348 7.11685 8.83296 7.02039C9.31791 6.92393 9.82057 6.97344 10.2774 7.16266C10.7342 7.35187 11.1247 7.67231 11.3994 8.08343C11.6741 8.49455 11.8207 8.9779 11.8207 9.47235C11.8207 10.1354 11.5573 10.7713 11.0884 11.2401C10.6196 11.709 9.98372 11.9724 9.32068 11.9724Z' fill='%238B653F'/%3E%3C/svg%3E%0A");
        width: 24px;
        height: 24px;
        left: -29px;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute; }
        @media only screen and (max-width: 1279px) {
          .header .header__top .container .header__address:before, .header .header__top .container .header__tel:before {
            left: -21px;
            width: 16px;
            height: 16px; } }
        @media only screen and (max-width: 1023px) {
          .header .header__top .container .header__address:before, .header .header__top .container .header__tel:before {
            content: none; } }
    @media only screen and (max-width: 1023px) {
      .header .header__top .container .header__address {
        text-align: right;
        width: 100%;
        padding-left: 23px; }
        .header .header__top .container .header__address:before {
          left: -10px; } }
    .header .header__top .container .header__tel {
      margin-left: 59px;
      text-decoration: none; }
      @media only screen and (max-width: 767px) {
        .header .header__top .container .header__tel {
          margin-top: 6px;
          margin-left: 0; } }
      .header .header__top .container .header__tel:before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.8085 18.5792C13.5875 18.6703 13.3506 18.7166 13.1116 18.7152C9.65394 18.6335 6.354 17.2519 3.86962 14.8456C1.46334 12.3612 0.081672 9.06127 3.00268e-05 5.60358C-0.00135053 5.36457 0.0448881 5.12768 0.136047 4.90673C0.227207 4.68579 0.36146 4.48521 0.530973 4.31671L2.96072 1.86897C3.12932 1.70136 3.35741 1.60729 3.59515 1.60729C3.83289 1.60729 4.06097 1.70136 4.22958 1.86897L7.8292 5.46859C7.99681 5.6372 8.09088 5.86528 8.09088 6.10302C8.09088 6.34076 7.99681 6.56885 7.8292 6.73745L6.39835 8.1773C6.66619 9.17336 7.15528 10.0962 7.8292 10.877C8.6088 11.5527 9.53204 12.0421 10.5289 12.3079L11.9688 10.877C12.1374 10.7094 12.3654 10.6153 12.6032 10.6153C12.8409 10.6153 13.069 10.7094 13.2376 10.877L16.8372 14.4766C17.0048 14.6452 17.0989 14.8733 17.0989 15.1111C17.0989 15.3488 17.0048 15.5769 16.8372 15.7455L14.3985 18.1842C14.23 18.3538 14.0294 18.488 13.8085 18.5792ZM5.9304 6.11652L3.59965 3.78577L1.79984 5.58558C1.87688 8.57426 3.07132 11.4255 5.14748 13.5767C7.29781 15.6475 10.1453 16.8385 13.1296 16.9154L14.9294 15.1156L12.5987 12.7848L11.4378 13.9727C11.3321 14.0779 11.202 14.1551 11.059 14.1975C10.9161 14.2399 10.7648 14.2462 10.6189 14.2157C9.11519 13.8808 7.72153 13.1685 6.56933 12.1459C5.54804 10.9928 4.83591 9.59948 4.49955 8.09631C4.47241 7.94812 4.4829 7.79549 4.53007 7.65241C4.57724 7.50934 4.65957 7.38039 4.76952 7.2774L5.9304 6.11652ZM17.9981 8.81623H16.1983C16.2272 7.98121 16.084 7.14917 15.7777 6.37183C15.4713 5.59449 15.0083 4.88848 14.4175 4.29767C13.8267 3.70687 13.1207 3.2439 12.3434 2.93755C11.566 2.6312 10.734 2.48802 9.89898 2.5169V0.717095C10.969 0.693759 12.0326 0.887303 13.0258 1.28606C14.019 1.68482 14.9211 2.28054 15.6779 3.03731C16.4347 3.79409 17.0304 4.69625 17.4291 5.68943C17.8279 6.68261 18.0215 7.74625 17.9981 8.81623ZM12.5986 8.81643C12.5986 6.92663 11.7887 6.11672 9.89887 6.11672V4.31691C12.7966 4.31691 14.3984 5.91874 14.3984 8.81643H12.5986Z' fill='%238B653F'/%3E%3C/svg%3E%0A"); }
        @media only screen and (max-width: 1023px) {
          .header .header__top .container .header__tel:before {
            content: none; } }
.header .header__menu {
  background: #E5E3DF;
  height: 101px;
  padding: 0;
  margin: 0; }
  @media only screen and (max-width: 1023px) {
    .header .header__menu {
      height: 86px; } }
  @media only screen and (max-width: 767px) {
    .header .header__menu {
      height: 78px; } }
  .header .header__menu .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    height: 100%; }
    @media only screen and (max-width: 767px) {
      .header .header__menu .container {
        justify-content: space-between; } }
    .header .header__menu .container .burger {
      display: none; }
      @media only screen and (max-width: 767px) {
        .header .header__menu .container .burger {
          display: block;
          cursor: pointer;
          height: 10px; } }
      @media only screen and (max-width: 767px) {
        .header .header__menu .container .burger span {
          width: 21px;
          height: 3px;
          background: #8B653F;
          display: block;
          position: relative; }
          .header .header__menu .container .burger span:before, .header .header__menu .container .burger span:after {
            content: '';
            width: 100%;
            height: 3px;
            background: #8B653F;
            position: absolute;
            top: -6px; }
          .header .header__menu .container .burger span:after {
            top: 6px; } }
    .header .header__menu .container .logo {
      margin-right: auto; }
      @media only screen and (max-width: 767px) {
        .header .header__menu .container .logo {
          margin-right: 0;
          display: flex;
          justify-content: center;
          align-items: center; } }
      .header .header__menu .container .logo svg {
        width: 100%;
        height: 100%; }
        @media only screen and (max-width: 767px) {
          .header .header__menu .container .logo svg {
            max-width: 80%;
            height: 80%; } }
    .header .header__menu .container .menu__item {
      margin-left: 30px; }
      @media only screen and (max-width: 767px) {
        .header .header__menu .container .menu__item {
          display: none; } }
      .header .header__menu .container .menu__item .item__link {
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        color: #000;
        text-decoration: none;
        transition: .6s; }
        .header .header__menu .container .menu__item .item__link:hover {
          color: #8B653F; }
      .header .header__menu .container .menu__item.active .item__link {
        background: #E5E3DF; }

/* footer */
.footer {
  background: #E5E3DF; }
  .footer .footer__menu {
    padding: 0; }
    .footer .footer__menu .logo {
      display: flex;
      align-items: flex-end; }
      @media only screen and (max-width: 767px) {
        .footer .footer__menu .logo {
          margin-bottom: 24px; } }
      @media only screen and (max-width: 767px) {
        .footer .footer__menu .logo svg {
          max-width: 80%;
          max-height: 80%; } }
    .footer .footer__menu .container {
      display: flex;
      justify-content: flex-end;
      align-items: end;
      height: 73px;
      list-style: none; }
      @media only screen and (max-width: 767px) {
        .footer .footer__menu .container {
          flex-wrap: wrap;
          height: auto;
          padding-top: 21px; } }
      .footer .footer__menu .container .logo {
        margin-right: auto; }
      .footer .footer__menu .container .menu__item {
        font-size: 24px;
        line-height: 29px;
        margin-left: 30px;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 3px; }
        @media only screen and (max-width: 1023px) {
          .footer .footer__menu .container .menu__item {
            font-size: 20px;
            line-height: 23px;
            margin-bottom: 7px; } }
        @media only screen and (max-width: 767px) {
          .footer .footer__menu .container .menu__item {
            flex: 0 0 100%;
            margin-bottom: 13px; } }
        .footer .footer__menu .container .menu__item .item__link {
          color: #000000;
          text-decoration: none;
          transition: .7s; }
          @media only screen and (max-width: 767px) {
            .footer .footer__menu .container .menu__item .item__link {
              margin-left: 7px; } }
          .footer .footer__menu .container .menu__item .item__link:hover {
            color: #8B653F; }
  .footer .footer__contact {
    padding-top: 25px; }
    .footer .footer__contact .footer__address, .footer .footer__contact .footer__tel {
      font-size: 16px;
      line-height: 22px;
      color: #000000;
      position: relative;
      margin-left: 29px; }
      .footer .footer__contact .footer__address:before, .footer .footer__contact .footer__tel:before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='22' viewBox='0 0 18 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.7807 8.60236C17.6403 7.14127 17.1239 5.74144 16.2819 4.53917C15.4398 3.33691 14.3008 2.37319 12.9757 1.74185C11.6506 1.11051 10.1846 0.833075 8.7204 0.936558C7.25623 1.04004 5.84381 1.52092 4.62068 2.33235C3.56988 3.035 2.68774 3.96165 2.03763 5.04575C1.38752 6.12984 0.985577 7.34446 0.860682 8.60236C0.738164 9.85201 0.895356 11.1133 1.32085 12.2946C1.74635 13.476 2.42948 14.5478 3.32068 15.4324L8.62068 20.7424C8.71365 20.8361 8.82425 20.9105 8.94611 20.9612C9.06796 21.012 9.19867 21.0382 9.33068 21.0382C9.46269 21.0382 9.5934 21.012 9.71526 20.9612C9.83712 20.9105 9.94772 20.8361 10.0407 20.7424L15.3207 15.4324C16.2119 14.5478 16.895 13.476 17.3205 12.2946C17.746 11.1133 17.9032 9.85201 17.7807 8.60236ZM13.9207 14.0224L9.32068 18.6224L4.72068 14.0224C4.04277 13.3444 3.52348 12.5247 3.20015 11.6221C2.87682 10.7195 2.75747 9.75655 2.85068 8.80235C2.9445 7.83346 3.25245 6.89751 3.75225 6.0622C4.25206 5.22688 4.93124 4.51306 5.74068 3.97235C6.80163 3.26759 8.04699 2.89165 9.32068 2.89165C10.5944 2.89165 11.8397 3.26759 12.9007 3.97235C13.7077 4.51097 14.3854 5.22164 14.885 6.05329C15.3847 6.88495 15.694 7.81696 15.7907 8.78236C15.8869 9.73978 15.7691 10.7066 15.4457 11.6129C15.1222 12.5192 14.6013 13.3422 13.9207 14.0224ZM9.32068 4.97235C8.43067 4.97235 7.56064 5.23628 6.82062 5.73074C6.0806 6.22521 5.50382 6.92801 5.16322 7.75028C4.82263 8.57255 4.73351 9.47735 4.90715 10.3503C5.08078 11.2232 5.50937 12.025 6.1387 12.6543C6.76804 13.2837 7.56986 13.7123 8.44278 13.8859C9.31569 14.0595 10.2205 13.9704 11.0428 13.6298C11.865 13.2892 12.5678 12.7124 13.0623 11.9724C13.5568 11.2324 13.8207 10.3624 13.8207 9.47235C13.818 8.27969 13.3431 7.13663 12.4997 6.29329C11.6564 5.44995 10.5133 4.975 9.32068 4.97235ZM9.32068 11.9724C8.82623 11.9724 8.34288 11.8257 7.93176 11.551C7.52063 11.2763 7.2002 10.8859 7.01098 10.4291C6.82176 9.97225 6.77226 9.46958 6.86872 8.98463C6.96518 8.49968 7.20328 8.05422 7.55292 7.70459C7.90255 7.35496 8.348 7.11685 8.83296 7.02039C9.31791 6.92393 9.82057 6.97344 10.2774 7.16266C10.7342 7.35187 11.1247 7.67231 11.3994 8.08343C11.6741 8.49455 11.8207 8.9779 11.8207 9.47235C11.8207 10.1354 11.5573 10.7713 11.0884 11.2401C10.6196 11.709 9.98372 11.9724 9.32068 11.9724Z' fill='%238B653F'/%3E%3C/svg%3E%0A");
        width: 24px;
        height: 24px;
        left: -29px;
        background-repeat: no-repeat;
        position: absolute; }
    .footer .footer__contact .footer__tel {
      text-decoration: none;
      margin-top: 15px;
      display: block; }
      .footer .footer__contact .footer__tel:before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.8085 18.5792C13.5875 18.6703 13.3506 18.7166 13.1116 18.7152C9.65394 18.6335 6.354 17.2519 3.86962 14.8456C1.46334 12.3612 0.081672 9.06127 3.00268e-05 5.60358C-0.00135053 5.36457 0.0448881 5.12768 0.136047 4.90673C0.227207 4.68579 0.36146 4.48521 0.530973 4.31671L2.96072 1.86897C3.12932 1.70136 3.35741 1.60729 3.59515 1.60729C3.83289 1.60729 4.06097 1.70136 4.22958 1.86897L7.8292 5.46859C7.99681 5.6372 8.09088 5.86528 8.09088 6.10302C8.09088 6.34076 7.99681 6.56885 7.8292 6.73745L6.39835 8.1773C6.66619 9.17336 7.15528 10.0962 7.8292 10.877C8.6088 11.5527 9.53204 12.0421 10.5289 12.3079L11.9688 10.877C12.1374 10.7094 12.3654 10.6153 12.6032 10.6153C12.8409 10.6153 13.069 10.7094 13.2376 10.877L16.8372 14.4766C17.0048 14.6452 17.0989 14.8733 17.0989 15.1111C17.0989 15.3488 17.0048 15.5769 16.8372 15.7455L14.3985 18.1842C14.23 18.3538 14.0294 18.488 13.8085 18.5792ZM5.9304 6.11652L3.59965 3.78577L1.79984 5.58558C1.87688 8.57426 3.07132 11.4255 5.14748 13.5767C7.29781 15.6475 10.1453 16.8385 13.1296 16.9154L14.9294 15.1156L12.5987 12.7848L11.4378 13.9727C11.3321 14.0779 11.202 14.1551 11.059 14.1975C10.9161 14.2399 10.7648 14.2462 10.6189 14.2157C9.11519 13.8808 7.72153 13.1685 6.56933 12.1459C5.54804 10.9928 4.83591 9.59948 4.49955 8.09631C4.47241 7.94812 4.4829 7.79549 4.53007 7.65241C4.57724 7.50934 4.65957 7.38039 4.76952 7.2774L5.9304 6.11652ZM17.9981 8.81623H16.1983C16.2272 7.98121 16.084 7.14917 15.7777 6.37183C15.4713 5.59449 15.0083 4.88848 14.4175 4.29767C13.8267 3.70687 13.1207 3.2439 12.3434 2.93755C11.566 2.6312 10.734 2.48802 9.89898 2.5169V0.717095C10.969 0.693759 12.0326 0.887303 13.0258 1.28606C14.019 1.68482 14.9211 2.28054 15.6779 3.03731C16.4347 3.79409 17.0304 4.69625 17.4291 5.68943C17.8279 6.68261 18.0215 7.74625 17.9981 8.81623ZM12.5986 8.81643C12.5986 6.92663 11.7887 6.11672 9.89887 6.11672V4.31691C12.7966 4.31691 14.3984 5.91874 14.3984 8.81643H12.5986Z' fill='%238B653F'/%3E%3C/svg%3E%0A"); }
  .footer .foooter__bottom {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0 17px 0; }
    @media only screen and (max-width: 767px) {
      .footer .foooter__bottom {
        flex-wrap: wrap;
        padding: 20px 0 10px 0; } }
    .footer .foooter__bottom .footer__privacy {
      position: absolute;
      left: 0;
      font-size: 16px;
      line-height: 22px;
      color: #000000; }
      @media only screen and (max-width: 1279px) {
        .footer .foooter__bottom .footer__privacy {
          padding: 25px; } }
      @media only screen and (max-width: 1023px) {
        .footer .foooter__bottom .footer__privacy {
          padding: 15px; } }
      @media only screen and (max-width: 767px) {
        .footer .foooter__bottom .footer__privacy {
          position: relative;
          flex: 0 0 100%;
          text-align: center;
          padding: 0; } }
    .footer .foooter__bottom .footer__social {
      display: flex;
      justify-content: space-between;
      width: 68px; }

.modal {
  display: none;
  transition: 1.2s; }
  .modal .logo {
    display: none; }
  .modal .modal__menu {
    display: flex;
    align-items: center;
    padding-top: 20%;
    padding: 0;
    margin: 0;
    flex-wrap: wrap; }
    .modal .modal__menu .menu__item {
      margin-bottom: 30px;
      list-style: none; }
      .modal .modal__menu .menu__item .item__link {
        color: #8B653F;
        text-decoration: none;
        font-size: 2em; }
    .modal .modal__menu .close {
      position: relative;
      flex: 0 0 100%;
      display: flex;
      align-items: center;
      height: 40px;
      justify-content: end; }
      .modal .modal__menu .close span {
        position: absolute;
        right: 32px;
        top: 7px;
        width: 32px;
        height: 32px;
        opacity: 0.3; }
        .modal .modal__menu .close span:hover {
          opacity: 1; }
        .modal .modal__menu .close span:before, .modal .modal__menu .close span:after {
          position: absolute;
          left: 15px;
          content: ' ';
          height: 33px;
          width: 2px;
          background-color: #333; }
        .modal .modal__menu .close span:before {
          transform: rotate(45deg); }
        .modal .modal__menu .close span:after {
          transform: rotate(-45deg); }
  @media only screen and (max-width: 767px) {
    .modal {
      position: fixed;
      width: 100%;
      height: 0;
      background: #E5E3DF;
      z-index: 2;
      top: 0;
      display: block;
      height: 100%;
      transform: translateY(-100%); } }
  .modal.active {
    transition: 1.2s; }
    @media only screen and (max-width: 767px) {
      .modal.active {
        transition: 1.2s;
        transform: translateY(0); } }

/*index*/
.category {
  display: flex;
  justify-content: space-between;
  padding: 56px 0 62px 45px;
  flex-wrap: wrap; }
  @media only screen and (max-width: 1023px) {
    .category {
      padding: 16px 0 52px 21px; } }
  @media only screen and (max-width: 767px) {
    .category {
      padding: 16px 0 22px 34px; } }
  .category .title {
    flex: 0 0 80%;
    font-size: 36px;
    line-height: 43px;
    text-transform: uppercase;
    color: #8B653F;
    position: relative;
    margin-left: 19px; }
    @media only screen and (max-width: 767px) {
      .category .title {
        font-size: 24px;
        line-height: 32px;
        margin-left: 10px; } }
    .category .title:before {
      content: '';
      position: absolute;
      left: -35px;
      top: 50%;
      transform: translateY(-68%);
      width: 28px;
      height: 28px;
      background-size: contain;
      background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.664062' y='0.637695' width='12' height='12' fill='%238B653F'/%3E%3Crect x='0.664062' y='14.7566' width='12' height='12' fill='%23E5E3DF'/%3E%3Crect x='14.783' y='0.637695' width='12' height='12' fill='%23E5E3DF'/%3E%3Crect x='15.283' y='15.2566' width='11' height='11' stroke='%238B653F'/%3E%3C/svg%3E "); }
      @media only screen and (max-width: 767px) {
        .category .title:before {
          width: 18px;
          height: 18px;
          left: -25px; } }
  .category .category__list {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 0 0 30%; }
    @media only screen and (max-width: 1023px) {
      .category .category__list {
        flex: 0 0 50%; } }
    @media only screen and (max-width: 767px) {
      .category .category__list {
        flex: 0 0 90%; } }
    .category .category__list .list__item {
      list-style: none; }
      .category .category__list .list__item .item__link {
        font-size: 24px;
        line-height: 34px;
        color: #000000;
        text-decoration: none;
        padding: 5px 19px 5px 19px;
        margin-bottom: 18px;
        display: block; }
        @media only screen and (max-width: 767px) {
          .category .category__list .list__item .item__link {
            font-size: 16px;
            line-height: 20px;
            padding: 4px 0 4px 11px;
            margin-bottom: 7px; } }
        .category .category__list .list__item .item__link:hover {
          background: #8B653F;
          color: #fff; }

.inner {
  padding: 35px 0 60px 0; }
  @media only screen and (max-width: 767px) {
    .inner {
      padding: 15px 0 30px 0; } }
  .inner .container {
    display: flex;
    flex-wrap: wrap; }
    .inner .container .sidebar {
      flex: 0 0 334px;
      padding-top: 23px; }
      @media only screen and (max-width: 1599px) {
        .inner .container .sidebar {
          flex: 0 0 285px; } }
      @media only screen and (max-width: 1023px) {
        .inner .container .sidebar {
          flex: 0 0 185px; } }
      @media only screen and (max-width: 767px) {
        .inner .container .sidebar {
          flex: 0 0 100%;
          display: flex;
          flex-direction: column;
          padding-top: 0; } }
      @media only screen and (max-width: 767px) {
        .inner .container .sidebar .sidebar__wrapper {
          border: 1px solid #8B653F;
          box-sizing: border-box;
          border-radius: 2px;
          margin-bottom: 13px;
          position: relative;
          order: 1; } }
      @media only screen and (max-width: 767px) {
        .inner .container .sidebar .sidebar__wrapper:before {
          content: ' ';
          position: absolute;
          background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.63605 5.37649C1.82357 5.18902 2.07788 5.08371 2.34305 5.08371C2.60821 5.08371 2.86252 5.18902 3.05004 5.37649L8.00003 10.3265L12.95 5.37649C13.1386 5.19434 13.3912 5.09354 13.6534 5.09582C13.9156 5.0981 14.1664 5.20327 14.3518 5.38868C14.5372 5.57408 14.6424 5.8249 14.6447 6.08709C14.647 6.34929 14.5462 6.60189 14.364 6.79049L8.70703 12.4475C8.5195 12.635 8.2652 12.7403 8.00003 12.7403C7.73487 12.7403 7.48056 12.635 7.29304 12.4475L1.63605 6.79049C1.44858 6.60297 1.34326 6.34866 1.34326 6.08349C1.34326 5.81833 1.44858 5.56402 1.63605 5.37649Z' fill='%238B653F'/%3E%3C/svg%3E%0A");
          width: 16px;
          height: 16px;
          right: 21px;
          left: auto;
          top: 10px; } }
      .inner .container .sidebar .sidebar__wrapper.active:before {
        transform: rotate(180deg); }
      .inner .container .sidebar .sidebar__back {
        font-size: 36px;
        align-items: center;
        text-transform: uppercase;
        color: #8B653F;
        position: relative;
        display: block;
        font-family: 'Bebas Neue', serif;
        text-decoration: none;
        padding-left: 37px;
        margin-bottom: 22px; }
        @media only screen and (max-width: 767px) {
          .inner .container .sidebar .sidebar__back {
            display: none; } }
        .inner .container .sidebar .sidebar__back-mobile {
          display: none;
          transition: .7s;
          cursor: pointer;
          margin-bottom: 0;
          padding-top: 5px;
          padding-bottom: 3px;
          text-transform: inherit;
          color: #000000;
          padding-left: 10px;
          text-transform: uppercase;
          color: #000000;
          font-size: 36px;
          line-height: 43px;
          font-family: 'Opinion pro';
          padding-left: 0; }
          @media only screen and (max-width: 767px) {
            .inner .container .sidebar .sidebar__back-mobile {
              display: block; } }
        .inner .container .sidebar .sidebar__back:before {
          content: ' ';
          width: 27px;
          height: 24px;
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          transform: translateY(20%);
          background-image: url("data:image/svg+xml,%3Csvg width='27' height='25' viewBox='0 0 27 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27 24.2857C23.5749 20.1046 20.5334 17.7323 17.8748 17.1681C15.2169 16.6046 12.6864 16.5192 10.2826 16.9126V24.4005L0 12.182L10.2826 0.600464V7.71736C14.7269 7.75236 18.5048 9.34696 21.617 12.5005C24.7285 15.654 26.5233 19.5824 27 24.2857Z' fill='%23E5E3DF'/%3E%3C/svg%3E%0A"); }
          @media only screen and (max-width: 767px) {
            .inner .container .sidebar .sidebar__back:before {
              display: none; } }
        .inner .container .sidebar .sidebar__back:hover {
          color: #000; }
          .inner .container .sidebar .sidebar__back:hover:before {
            fill: #8B653F; }
      .inner .container .sidebar .sidebar__item {
        font-size: 20px;
        order: 1;
        line-height: 20px;
        display: block;
        color: #000;
        text-decoration: none;
        padding: 5px 19px 10px 19px;
        margin-bottom: 3px; }
        .inner .container .sidebar .sidebar__item:hover {
          color: #fff;
          background: #8B653F; }
        @media only screen and (max-width: 1023px) {
          .inner .container .sidebar .sidebar__item {
            font-size: 16px;
            line-height: 20px; } }
        @media only screen and (max-width: 767px) {
          .inner .container .sidebar .sidebar__item {
            display: none;
            padding: 10px 19px 7px 19px;
            margin-bottom: 0; } }
        .inner .container .sidebar .sidebar__item:first-child {
          display: none; }
          @media only screen and (max-width: 767px) {
            .inner .container .sidebar .sidebar__item:first-child {
              display: block; } }
        @media only screen and (max-width: 767px) {
          .inner .container .sidebar .sidebar__item.active {
            display: block; } }
  .inner .pagination {
    flex: 0 0 100%; }
  .inner .goods {
    margin-left: 20px;
    flex: 1 0 600px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-decoration: none; }
    @media only screen and (max-width: 1023px) {
      .inner .goods {
        flex: 1 0 520px; } }
    @media only screen and (max-width: 767px) {
      .inner .goods {
        flex: 0 0 100%;
        margin-left: 0;
        justify-content: center; } }
    .inner .goods .breadcrumbs {
      flex: 0 0 100%;
      padding: 0;
      margin: 0 0 9px 0;
      display: flex;
      flex-wrap: wrap; }
      @media only screen and (max-width: 767px) {
        .inner .goods .breadcrumbs {
          display: none; } }
      .inner .goods .breadcrumbs .breadcrumbs__item {
        list-style: none; }
        .inner .goods .breadcrumbs .breadcrumbs__item .item__link {
          text-decoration-line: underline;
          font-size: 14px;
          line-height: 14px;
          color: #8B653F; }
        .inner .goods .breadcrumbs .breadcrumbs__item:last-child {
          margin-top: 9px;
          font-family: 'Bebas Neue', serif;
          flex: 0 0 100%; }
          .inner .goods .breadcrumbs .breadcrumbs__item:last-child .item__link {
            color: #000000;
            text-transform: uppercase;
            font-size: 36px;
            line-height: 43px;
            text-decoration: none;
            display: block; }
    .inner .goods .goods__item {
      flex: 0 0 337px;
      text-align: center;
      padding: 40px 62px 40px 62px;
      border: 1px solid #E5E3DF;
      box-sizing: border-box;
      border-radius: 2px;
      margin-bottom: 19px;
      text-decoration: none;
      color: #000000; }
      @media only screen and (max-width: 1599px) {
        .inner .goods .goods__item {
          flex: 0 0 49%; } }
      @media only screen and (max-width: 767px) {
        .inner .goods .goods__item {
          flex: 0 0 100%;
          padding: 5px 62px 25px 62px; } }
      .inner .goods .goods__item:hover {
        border: 1px solid #8B653F;
        box-sizing: border-box;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
        border-radius: 2px; }
      .inner .goods .goods__item .item__name {
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 15px; }
        @media only screen and (max-width: 1023px) {
          .inner .goods .goods__item .item__name {
            font-size: 16px;
            line-height: 20px; } }
      .inner .goods .goods__item .item__price {
        margin-top: 15px;
        font-size: 24px;
        line-height: 140%; }
        @media only screen and (max-width: 1023px) {
          .inner .goods .goods__item .item__price {
            font-size: 22px; } }
      .inner .goods .goods__item .item__sku, .inner .goods .goods__item .item__brand {
        font-size: 16px;
        line-height: 22px; }
        @media only screen and (max-width: 1023px) {
          .inner .goods .goods__item .item__sku, .inner .goods .goods__item .item__brand {
            font-size: 14px;
            line-height: 16px; } }
  .inner .pagination {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Opinion pro', serif; }
    .inner .pagination .pagination__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      border: 1px solid #8B653F;
      box-sizing: border-box;
      border-radius: 2px;
      margin-right: 6px;
      color: #8B653F;
      text-decoration: none;
      border-radius: 2px;
      color: #8B653F;
      font-size: 14px; }
      .inner .pagination .pagination__item:last-child {
        margin-right: 0; }
      .inner .pagination .pagination__item.active {
        background: #8B653F;
        color: #fff; }

.inner .goods.item {
  height: fit-content; }
  .inner .goods.item .breadcrumbs {
    height: fit-content; }
  .inner .goods.item .item__wrapper {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 1599px) {
      .inner .goods.item .item__wrapper {
        flex-direction: column;
        align-items: flex-start; } }
    .inner .goods.item .item__wrapper .item__img {
      flex: 0 0 250px;
      border: 1px solid #E5E3DF;
      box-sizing: border-box;
      border-radius: 2px;
      height: 250px; }
    .inner .goods.item .item__wrapper .item__info {
      flex: 1 0 554px;
      margin-left: 19px; }
      @media only screen and (max-width: 1599px) {
        .inner .goods.item .item__wrapper .item__info {
          flex: 0 0 100%;
          margin-top: 13px; } }
      @media only screen and (max-width: 767px) {
        .inner .goods.item .item__wrapper .item__info {
          font-size: 14px; } }
      .inner .goods.item .item__wrapper .item__info .item__desc {
        font-size: 18px;
        line-height: 140%;
        /* or 25px */
        font-family: 'Opinion pro';
        text-transform: uppercase;
        color: #000000;
        width: fit-content;
        border-bottom: 1px solid #8B653F; }
      .inner .goods.item .item__wrapper .item__info .item__name {
        font-size: 36px;
        line-height: 43px;
        margin: 0 0 31px 0; }
      .inner .goods.item .item__wrapper .item__info .item__order {
        border: none;
        background: #8B653F;
        border-radius: 2px;
        width: 172px;
        height: 34px;
        color: #fff;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Opinion pro';
        margin-bottom: 35px;
        cursor: pointer; }
        .inner .goods.item .item__wrapper .item__info .item__order:hover {
          background: #754F28; }

.modalbuy {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(133, 133, 133, 0.3); }
  .modalbuy.active {
    display: flex; }
  .modalbuy .modalbuy__form {
    background-color: #ffffff;
    width: 700px;
    padding: 38px 0 32px 0;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; }
    @media only screen and (max-width: 1023px) {
      .modalbuy .modalbuy__form {
        width: 100%; } }
    .modalbuy .modalbuy__form .close {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 20px;
      height: 20px;
      cursor: pointer;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.22499 4.81099C6.03639 4.62883 5.78378 4.52803 5.52159 4.53031C5.25939 4.53259 5.00858 4.63776 4.82317 4.82317C4.63776 5.00858 4.53259 5.25939 4.53031 5.52158C4.52804 5.78378 4.62883 6.03638 4.81099 6.22499L10.586 12L4.80999 17.775C4.71448 17.8672 4.6383 17.9776 4.58589 18.0996C4.53348 18.2216 4.50589 18.3528 4.50474 18.4856C4.50358 18.6184 4.52889 18.75 4.57917 18.8729C4.62945 18.9958 4.7037 19.1075 4.79759 19.2014C4.89149 19.2953 5.00314 19.3695 5.12603 19.4198C5.24893 19.4701 5.38061 19.4954 5.51339 19.4942C5.64617 19.4931 5.77739 19.4655 5.89939 19.4131C6.0214 19.3607 6.13174 19.2845 6.22399 19.189L12 13.414L17.775 19.189C17.9636 19.3711 18.2162 19.4719 18.4784 19.4697C18.7406 19.4674 18.9914 19.3622 19.1768 19.1768C19.3622 18.9914 19.4674 18.7406 19.4697 18.4784C19.4719 18.2162 19.3711 17.9636 19.189 17.775L13.414 12L19.189 6.22499C19.3711 6.03638 19.4719 5.78378 19.4697 5.52158C19.4674 5.25939 19.3622 5.00858 19.1768 4.82317C18.9914 4.63776 18.7406 4.53259 18.4784 4.53031C18.2162 4.52803 17.9636 4.62883 17.775 4.81099L12 10.586L6.22499 4.80999V4.81099Z' fill='%238B653F'/%3E%3C/svg%3E%0A"); }
    .modalbuy .modalbuy__form .modalbuy__text {
      width: 483px;
      font-size: 18px;
      line-height: 140%;
      margin-bottom: 21px; }
      @media only screen and (max-width: 1023px) {
        .modalbuy .modalbuy__form .modalbuy__text {
          width: 80%; } }
    .modalbuy .modalbuy__form .modalbuy__title {
      font-size: 36px;
      line-height: 43px;
      margin: 0 0 15px 0; }
    .modalbuy .modalbuy__form input {
      width: 483px;
      height: 34px;
      border: 2px solid #8B653F;
      border-radius: 4px;
      margin-bottom: 20px;
      padding-left: 16px; }
      @media only screen and (max-width: 1023px) {
        .modalbuy .modalbuy__form input {
          width: 80%;
          padding-left: 6px; } }
    .modalbuy .modalbuy__form textarea {
      width: 483px;
      height: 200px;
      border: 2px solid #8B653F;
      border-radius: 4px;
      margin-bottom: 20px;
      padding: 8px; }
      @media only screen and (max-width: 1023px) {
        .modalbuy .modalbuy__form textarea {
          width: 80%; } }
    .modalbuy .modalbuy__form .modalbuy__btn {
      border: none;
      background: #8B653F;
      border-radius: 2px;
      width: 172px;
      height: 34px;
      color: #fff;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Opinion pro';
      margin-top: 40px;
      cursor: pointer; }
      .modalbuy .modalbuy__form .modalbuy__btn:hover {
        background: #754F28; }

.contacts .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 40px; }
  .contacts .container .contacts__title {
    flex: 0 0 100%; }
  .contacts .container .contacts__info {
    flex: 1 0 600px;
    margin-right: 70px; }
    @media only screen and (max-width: 1279px) {
      .contacts .container .contacts__info {
        flex: 0 0 400px;
        margin-right: 0;
        margin-bottom: 30px; } }
    @media only screen and (max-width: 1023px) {
      .contacts .container .contacts__info {
        flex: 0 0 100%; } }
    .contacts .container .contacts__info .contacts__tel .tel__list {
      list-style: none;
      padding: 0;
      margin: 0; }
    .contacts .container .contacts__info a {
      color: #754F28;
      font-size: 16px;
      line-height: 20px; }
    .contacts .container .contacts__info .contacts__address {
      max-width: 350px; }
  .contacts .container .contacts__map {
    flex: 0 0 600px;
    height: 400px; }
    @media only screen and (max-width: 1279px) {
      .contacts .container .contacts__map {
        flex: 0 0 400px;
        margin-bottom: 30px; } }
    @media only screen and (max-width: 1023px) {
      .contacts .container .contacts__map {
        flex: 0 0 100%; } }

/*# sourceMappingURL=style.css.map */
